<!-- Warnings Subsection -->
<div class="mb-6">
    <h4 class="text-lg font-medium mb-2">Warnings</h4>
    <table class="min-w-full">
        <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="w-36 py-3 px-6 text-left">Test-ID</th>
                <th class="py-3 px-6 text-left">Description</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">

            {% for warning in report.warning %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left">{{ warning.0 }}</td>
                <td class="py-3 px-6 text-left">
                    <span {%  if warning|length > 2 %} class="expand-description" onclick="toggleDetails(this)" {% endif %}>{{ warning.1 }}
                    {% if warning|length > 2 %}
                    <svg class="inline w-3.5 h-3.5 ml-1 text-gray-400 info-icon" fill="currentColor" viewBox="0 0 512 512"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/></svg>
                    {% endif %}
                    </span>
                    <div class="hidden-details hidden mt-2">
                        {% for detail in warning|slice:'2:' %}
                        <p class="italic">{{ detail }}</p>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>